{% extends 'base.html' %}

{% block content %}

<h3>Sube tu Video! </h3><br><br>
  
  <form class="form-singin" method="POST">{% csrf_token %}
  <div>
   {{form.as_p}}
  </div>

{% for field in form %}
      
      {% comment %} <p style="font-size:18px;margin:0px; "><strong>{{field.label_tag}}</strong></p>
      <label  id="focusedInput">{{field}}</label><br> {% endcomment %}
      
      <p>    
        {% if field.help_text%}
          <small style="color: gray;">{{fiedl.help_text}}</small>
        {% endif %}

        {% for error in field.errors %}
        <small style="color: red;">{{error}}</small>
        {% endfor %}
      </p>
      
{% endfor  %}
    <button type="submit" class="save btn btn-info"><a>Registrar</a></button>
    
    <div class="row">    
    <a href="{{request.META.HTTP_REFERER}}" style="margin-left:20px; margin-bottom: 20px;margin-top: 0px;"><button type="submit" style="float:left;"class="btn btn-danger">Volver</button></a>    </div>  
    </form>

{% endblock content %}