{% extends 'base.html' %}
{% load static %}

 {% block content %}

<h2>{{ video.title }}</h2>

<video width="720" height="600" controls>
    <source src="{{video.file.url}}" type="video/mp4">
  Your browser does not support the video tag.
  </video>
<p>{{ video.description }}</p>
<br><br>
<h3>Comentarios</h3>

{% if request.user.is_authenticated %}
<form method="POST" class="form-singin"> {% csrf_token %}
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary"> Comentar ! </button>
</form>
{% endif %}

{% for comment in comments %}
<p>
{{ comment.author }} posted on: {{ comment.datetime }} <br>
{{ comment.text }}
</p>
{% endfor %}

 {% endblock content %}
